
<nav class="navbar navbar-default navbar-fixed-top" id="header" style="background-color: #ffffff;">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="${base.contextPath}/">问答</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false" style="height: 1px;">
            <form class="navbar-form navbar-left">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="搜索你感兴趣的内容" style="min-width: 250px;" name="key">
                    <div class="input-group-btn">
                        <!-- Buttons -->
                        <button type="submit" class="btn btn-default">
                            <span style="display: inline-flex; align-items: center;">​<svg class="Zi Zi--Search" fill="currentColor" viewBox="0 0 24 24" width="18" height="18"><path d="M17.068 15.58a8.377 8.377 0 0 0 1.774-5.159 8.421 8.421 0 1 0-8.42 8.421 8.38 8.38 0 0 0 5.158-1.774l3.879 3.88c.957.573 2.131-.464 1.488-1.49l-3.879-3.878zm-6.647 1.157a6.323 6.323 0 0 1-6.316-6.316 6.323 6.323 0 0 1 6.316-6.316 6.323 6.323 0 0 1 6.316 6.316 6.323 6.323 0 0 1-6.316 6.316z" fill-rule="evenodd"></path></svg></span>
                            <!--<span class="glyphicon glyphicon-search" aria-hidden="true"></span>-->
                        </button>
                    </div>
                </div>

            </form>
            <ul class="nav navbar-nav">
                <li :class="{'active' : location == 'index'}"><a href="${base.contextPath}/">首页</a></li>
                <li :class="{'active' : location == 'faxian'}"><a href="${base.contextPath}/faxian">发现</a></li>
                <li :class="{'active' : location == 'messages'}"><a href="${base.contextPath}/messages">消息</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right" v-cloak v-if="user.id != 0">
                <li class="navbar-form navbar-left">
                    <button type="button" class="btn btn-default"
                            data-toggle="modal" data-target="#myModal">提问</button>
                </li>
                <li class="dropdown" v-if="user.id != -1">
                    <a href="${base.contextPath}/" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false" style="max-height: 50px;">
                        <img class="head" :src="user.headUrl">
                        <!--{{user.name}}--><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a :href="'${base.contextPath}/users/' + user.id">我的主页</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="${base.contextPath}/">私信</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="${base.contextPath}/logout">退出</a></li>
                    </ul>
                </li>
                <template v-cloak v-if="user.id == -1">
                    <li><a href="${base.contextPath}/login">登陆</a></li>
                    <li><a href="${base.contextPath}/register">注册</a></li>
                </template>

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!--提问弹窗-->
<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"> 提问</h4>
            </div>
            <div class="modal-body">
                <span style="padding-left: 5px;">提问前请先搜索</span>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="输入你的问题" v-model="questionInput" @keyup="search">
                    <div class="resultquestionlist" v-if="questions.length>0 && questionInput != ''">
                        <div style="font-weight: 600" >查询到以下相关问题:</div>
                        <div class="resultquestion" v-for="(question, index) in questions">
                            <a style="color: rgb(34, 34, 34); -moz-user-select: none;" :href="'/wenda/questions/' + question.id">
                                {{question.title}}
                            </a>
                            <span class="Button Button--link">{{question.commentCount}}个回答</span>
                        </div>
                    </div>
                    <div class="resultquestionlist" v-if="questionInput != ''&&questions.length == 0">
                        <div style="font-weight: 600" >还没有这个问题</div>
                    </div>
                </div>

                <button type="button" class="btn btn-primary">我要提问</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<input type="hidden" id="baseUrl" value="${base.contextPath}">
<input type="hidden" id="location" value="$!{location}">
