<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>问答-首页</title>
</head>
<body>
#parse("header.html")
<link rel="stylesheet" href="../styles/index.css">
<div class="container" id="app">

    <div class="page-header">
        <h1>Non-responsive Bootstrap</h1>
        <p class="lead">Disable the responsiveness of Bootstrap by fixing the width of the container and using the first
            grid system tier.
            <a href="http://getbootstrap.com/getting-started/#disable-responsive">
                Read the documentation
            </a> for more information.
        </p>
    </div>

    <div>
        <h3>What changes</h3>
        <p>Note the lack of the
            <code>&lt;meta name="viewport" content="width=device-width, initial-scale=1"&gt;</code>,
            which disables the zooming aspect of sites in mobile devices. In addition, we reset our container's width and
            changed the navbar to prevent collapsing, and are basically good to go.</p>
    </div>
    <div>
        <h3>What changes</h3>
        <p>Note the lack of the
            <code>&lt;meta name="viewport" content="width=device-width, initial-scale=1"&gt;</code>,
            which disables the zooming aspect of sites in mobile devices. In addition, we reset our container's width and
            changed the navbar to prevent collapsing, and are basically good to go.</p>
    </div>
    <div>
        <h3>What changes</h3>
        <p>Note the lack of the
            <code>&lt;meta name="viewport" content="width=device-width, initial-scale=1"&gt;</code>,
            which disables the zooming aspect of sites in mobile devices. In addition, we reset our container's width and
            changed the navbar to prevent collapsing, and are basically good to go.</p>
    </div>
    <div>
        <h3>What changes</h3>
        <p>Note the lack of the
            <code>&lt;meta name="viewport" content="width=device-width, initial-scale=1"&gt;</code>,
            which disables the zooming aspect of sites in mobile devices. In addition, we reset our container's width and
            changed the navbar to prevent collapsing, and are basically good to go.</p>
    </div>
    <div>
        <h3>What changes</h3>
        <p>Note the lack of the
            <code>&lt;meta name="viewport" content="width=device-width, initial-scale=1"&gt;</code>,
            which disables the zooming aspect of sites in mobile devices. In addition, we reset our container's width and
            changed the navbar to prevent collapsing, and are basically good to go.</p>
    </div>
    <div>
        <h3>What changes</h3>
        <p>Note the lack of the
            <code>&lt;meta name="viewport" content="width=device-width, initial-scale=1"&gt;</code>,
            which disables the zooming aspect of sites in mobile devices. In addition, we reset our container's width and
            changed the navbar to prevent collapsing, and are basically good to go.</p>
    </div>
    <div>
        <h3>What changes</h3>
        <p>Note the lack of the
            <code>&lt;meta name="viewport" content="width=device-width, initial-scale=1"&gt;</code>,
            which disables the zooming aspect of sites in mobile devices. In addition, we reset our container's width and
            changed the navbar to prevent collapsing, and are basically good to go.</p>
    </div>

    <h3>Non-responsive grid system</h3>
    <div class="row">
        <div class="col-xs-4">One third</div>
        <div class="col-xs-4">One third</div>
        <div class="col-xs-4">One third</div>
    </div>

</div>


#parse("footer.html")
</body>
<script src="../scripts/js/index.js"></script>
</html>