<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>首页-问答</title>
    <link rel="stylesheet" href="${base.contextPath}/styles/index.css">
    <link rel="stylesheet" href="${base.contextPath}/styles/loading.css">
    #parse("css.html")
</head>
<body>
#parse("header.html")
<div class="container main" id="app" >
    <div class="page-header1">
        <ul class="nav nav-tabs" style="color: #0f88eb">
            <li role="presentation" :class="{'active':header == 1}"><a href="javascript:;" @click="header = 1">推荐</a>
            </li>
            <li role="presentation" :class="{'active':header == 2}"><a href="javascript:;" @click="header = 2">关注</a>
            </li>
            <li role="presentation" :class="{'active':header == 3}"><a href="javascript:;" @click="header = 3">热门</a>
            </li>
        </ul>
    </div>

    <!--推荐列表-->
    <div id="recommend" class="recommend" v-if="header == 1" v-cloak="">
        <div v-cloak="" v-for="(question, index) in questions" class="question" :key="question.id">
            <span><a :href="'${base.contextPath}/questions/' + question.id" class="question-title" target="_blank"
                     style="text-decoration: none">{{question.title}}</a></span>
            <div class="AuthorInfo">
                <img class="head" :src="question.user.headUrl">&nbsp;
                <span>{{question.user.name}}</span>
            </div>
            <div class="question-content">
                <span class="close-content Button--link" @click="toQuestionInfo(question)">{{question.content}}</span>
            </div>
            <div class="ContentItem-time">
                <a target="_blank" :href="'${base.contextPath}/questions/' + question.id">
                    <span>发布于 {{question.createdDate | time}}</span>
                </a>
                <span class="question-count Button--link" @click="toQuestionInfo(question)">
                    <span aria-hidden="true" class="glyphicon glyphicon-comment">
                    </span>
                    {{question.commentCount}}条回答
                </span>
            </div>
        </div>
    </div>
    <!--关注列表-->
    <div class="follow" v-else-if="header == 2" v-cloak="">
        <div class="question" v-for="(follow, index) in follows.list">
            <!--feed来源-->
            <div class="FeedSource-firstline">
                <span><a href="#">{{follow.userName}}</a></span>
                <span v-if="follow.type == 3">点赞了该回答</span>
                <span>.</span>
                <span>{{follow.createdDate}}</span>
            </div>
            <!--feed内容作者-->
            <div class="AuthorInfo FeedSource-byline">
                <a class="" target="_blank" :href="'/wenda/users/' + follow.data.userId">
                    <img class="" :src="follow.data.headUrl"
                         :alt="follow.data.userName" width="24" height="24"></a>
                <div class="AuthorInfo-content">
                    <div class="AuthorInfo-head">
                        <span class="AuthorInfo-name">
                            <a :href="'/wenda/users/' + follow.data.userId">{{follow.data.userName}}</a></span>
                    </div>
                </div>
            </div>
            <!--feed内容-->
            <div>
                <span>
                    <a :href="'/wenda/questions/' + follow.data.entityId" target="_blank" class="question-title"
                       style="text-decoration: none;">问题的测试数据标题830?</a>
                </span>
                <div class="question-content">
                    <span class="close-content Button--link">{{follow.data.content}}</span>
                </div>
            </div>
        </div>

    </div>
    <!--热门列表-->
    <div class="hot" v-else-if="header == 3" v-cloak="">

    </div >
    <!--加载动画-->
    <div class="loading" v-if="next">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div v-else-if="questions.length > 0" style="text-align: center;padding-top: 15px;" v-cloak>
        <span class="Button Button--link">没有更多了</span>
    </div>
</div>


#parse("footer.html")
</body>
<script src="${base.contextPath}/scripts/js/index.js"></script>
</html>