<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登陆-问答</title>
    <link rel="stylesheet" href="${base.contextPath}/styles/login.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        [v-cloak] {
            display: none;
        }
        /* 可以设置不同的进入和离开动画 */
        /* 设置持续时间和动画函数 */
        .slide-fade-enter-active {
            transition: all .3s ease;
        }
        .slide-fade-leave-active {
            transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
        }
        .slide-fade-enter, .slide-fade-leave-to
            /* .slide-fade-leave-active for below version 2.1.8 */ {
            transform: translateX(10px);
            opacity: 0;
        }

    </style>
</head>
<body class="login-body">
<div id="app" >
    <div class="container">
        <div class="form-signin" v-cloak>
            <h4 class="form-signin-heading">欢迎登陆到问答网</h4>
            <div class="form-group" :class="{'has-error':login.username_error != ''}">
                <input type="text" class="form-control" id="inputSuccess1" aria-describedby="helpBlock3"
                       title="" placeholder="用户名" v-model="login.username" maxlength="18">
                <transition name="slide-fade">
                <span id="helpBlock2" class="help-block" v-if="login.username_error != ''">
                    {{login.username_error}}</span>
                </transition>
            </div>
            <div class="form-group" :class="{'has-error':login.password_error != ''}">
                <input type="password" class="form-control" id="inputSuccess3" aria-describedby="helpBlock3"
                       title="" placeholder="密码" v-model="login.password" maxlength="18">
                <transition name="slide-fade">
                <span id="helpBlock3" class="help-block" v-if="login.password_error != ''">
                    {{login.password_error}}</span>
                </transition>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me" v-model="login.remember_me"> 记住我
                </label>
            </div>
            <div class="login-button">
                <button class="btn btn-default btn-block button" :class="{'disabled' : login.loading}"  type="button" @click="log">
                    登陆<span v-if="login.loading">中</span>
                </button>
            </div>
            <div class="register-button">
                <button class="btn btn-default btn-block button" type="button" @click="toRegister">去注册</button>
            </div>

        </div>

    </div>

</div>



<script src="https://cdn.jsdelivr.net/npm/xss@1.0.6/dist/xss.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.19.0/dist/axios.min.js"></script>
<script src="${base.contextPath}/scripts/js/login.js"></script>
</body>
</html>