<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>$!{question.title}</title>
    #parse("css.html")
    <link rel="stylesheet" href="${base.contextPath}/styles/question.css">
    <!--富文本编辑器wangEditor-->
    <link href="https://cdn.staticfile.org/wangEditor/10.0.13/wangEditor.min.css" rel="stylesheet">
<body>
#parse("header.html")
<div id="app">
    <div class="container main" style="min-height: 100px;">
        <div class="question-label">
            <span class="label label-info" style="font-size: 100%"><a href="#${base.contextPath}/">问题标签</a></span>
        </div>

        <h3 style="font-weight: 600">$!{question.title}</h3>
        <h4>$!{question.content}
            <a style="text-decoration: none;font-size: 14px;color: grey" href="${base.contextPath}/">
                查看更多
                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            </a>
        </h4>
        <div>
            <button type="button" class="btn btn-info">
                关注问题
            </button>
            &nbsp;
            <button type="button" class="btn btn-default" @click="writerAnswer">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                写回答
            </button>

        </div>
    </div>
    <br>

    <!--文本编辑器-->
    <div class="container main" v-show="editor == 1" style="padding-top: 15px;" v-cloak>
        <div id="editor"></div>
        <div style="float: top;padding-top: 10px;">
            <button type="button" class="btn btn-primary" @click="submit">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                提交
            </button>
            <button type="button" class="btn btn-default" @click="editor = 0">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                取消
            </button>
        </div>
    </div>

    <!--回答列表-->
    <div class="container main" style="min-height: 800px;">
        <!--回答列表头部-->
        <div>
            <ul class="nav nav-tabs" style="color: #0f88eb">
                <li style="color: black">
                    <h5 v-cloak v-if="page_answer.total != 0">共{{page_answer.total}}条回答</h5>
                    <h5 v-cloak v-else>暂时还有没回答</h5>
                </li>
                <li style="float: right" role="presentation" :class="{'active':orderBy == 1}">
                    <a href="javascript:;" @click="orderBy = 1">默认排序</a>
                </li>
                <li style="float: right" role="presentation" :class="{'active':orderBy == 2}">
                    <a href="javascript:;" @click="orderBy = 2">按时间排序</a>
                </li>
            </ul>

        </div>
        <!--回答列表数据-->
        <div class="answer" v-cloak v-for="(answer,index) in answers" :key="answer.id">
            <div class="AuthorInfo">
                <a :href="'${base.contextPath}/users/' + answer.userId" target="_blank">
                    <img class="head38" :src="answer.headUrl">&nbsp;
                    <span class="AuthorInfo-name">{{answer.userName}}</span>
                </a>
            </div>
            <div style="padding-top: 10px;">
                <span class="Voters">
                    <button type="button" class="Button Button--plain">{{answer.likes}}人赞同了该回答</button></span>
            </div>
            <div style="padding-top: 10px" :class="{'close-content' : answer.flag == 0}">
                <span v-html="answer.content"></span>
            </div>
            <div style="text-align: center;font-size:15px;color: #0f88eb">
                <a href="javascript:;" v-cloak @click="answer.flag = 1" v-show="answer.flag == 0">
                    <span aria-hidden="true" class="glyphicon glyphicon-chevron-down"></span>
                    阅读全文
                </a>
            </div>
            <div style="padding-top: 10px;">
                <span class="Button Button--plain">
                    发布于{{answer.createdDate | time('YYYY-MM-DD')}}
                </span>
                <span style="float: right;" v-show="answer.flag == 1">
                    <a href="javascript:;" class="shouqi" @click="answer.flag = 0">
                        收起&nbsp;<span aria-hidden="true" class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                </span>
            </div>

            <div style="padding-top: 10px;">
                <button class="btn btn-default btn-primary">
                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    已赞同 {{answer.likes | likes}}
                </button>
                <button class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="踩">
                    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                </button>
                <span class="Button Button--plain" style="padding-left: 10px"
                      @click="openComment(index)">
                    <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                    <span v-if="answer.openComment == 0">{{answer.commentCount}}条评论</span>
                    <span v-else>收起评论</span>
                </span>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" v-if="user.id != -1">
                        <span class="dropdown-toggle Button--link Button--plain" data-toggle="dropdown" role="button" style="color: #8590a6;"
                              aria-haspopup="true" aria-expanded="false" >
                            <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                        </span>
                        <ul class="dropdown-menu">
                            <li v-if="answer.delete == 0"><a href="${base.contextPath}/">举报</a></li>
                            <li v-else-if="answer.delete == 1"><a href="${base.contextPath}/">删除</a></li>

                        </ul>
                    </li>
                </ul>
            </div>

            <!--评论-->
            <div class="Comments-container" v-if="answer.openComment == 1">
                <div class="CommentsV2 CommentsV2--withEditor CommentsV2-withPagination">
                    <!--评论头部-->
                    <div class="Topbar CommentTopbar">
                        <div class="Topbar-title">
                            <!--评论总数-->
                            <span class="CommentTopbar-title">{{answer.commentCount}} 条评论</span>
                        </div>
                        <!--排序条件-->
                        <div class="Topbar-options">
                            <button type="button" class="Button Button--plain">
                                <span style="display: inline-flex; align-items: center;">
                                    <svg class="Zi Zi--Switch Button-zi" fill="currentColor" viewBox="0 0 24 24"
                                         width="1.2em" height="1.2em">
                                        </svg>
                                </span>切换为时间排序
                            </button>
                        </div>
                    </div>

                    <!--评论列表-->
                    <div class="CommentListV2">
                        <!--一个评论-->
                        <ul class="NestComment" v-for="(comment, index_comment) in answer.comments" :key="comment.id">
                            <li class="NestComment--rootComment">
                                <div class="CommentItemV2">
                                    <div>
                                        <!--评论作者信息-->
                                        <div class="CommentItemV2-meta">
                                            <span class="UserLink CommentItemV2-avatar">
                                                <div class="Popover">
                                                    <div aria-haspopup="true" aria-expanded="false"
                                                         aria-owns="Popover333-content">
                                                        <a class="UserLink-link" target="_blank"
                                                           :href="'${base.contextPath}/users/' + comment.userId">
                                                            <img class="Avatar UserLink-avatar" :src="comment.headUrl"
                                                                 :alt="comment.userNmae" width="24" height="24"></a>
                                                    </div>
                                                </div>
                                            </span>
                                            <span class="UserLink">
                                                <a class="UserLink-link" target="_blank" :href="'${base.contextPath}/users' + comment.userId">
                                                    {{comment.userName}}
                                                    <span v-if="answer.userId == comment.userId" class="CommentItemV2-roleInfo">(作者)</span>
                                                </a>
                                            </span>
                                            <span class="CommentItemV2-time">{{comment.createdDate | time('YYYY-MM-DD')}}</span>
                                        </div>
                                        <!--评论信息-->
                                        <div class="CommentItemV2-metaSibling">
                                            <div>
                                                <!--评论内容-->
                                                <div class="CommentRichText CommentItemV2-content">
                                                    <div class="RichText ztext">{{comment.content}}</div>
                                                </div>
                                                <!--评论操作-->
                                                <div class="CommentItemV2-footer">
                                                    <!--赞-->
                                                    <button type="button" class="Button Button--plain comment-active">
                                                    <span class="glyphicon glyphicon-thumbs-up"
                                                          aria-hidden="true"></span>
                                                        {{comment.likes}}
                                                    </button>
                                                    <button type="button" class="Button Button--plain">
                                                        踩
                                                    </button>
                                                    <!--回复-->
                                                    <button type="button" class="Button Button--plain" @click="openCommentEditor(comment)">
                                                    <span style="display: inline-flex; align-items: center;">​
                                                    </span>
                                                        <template v-if="comment.editor.flag == 0">
                                                            回复
                                                        </template>
                                                        <template v-else-if="comment.editor.flag == 1">
                                                            取消回复
                                                        </template>
                                                    </button>
                                                    <button type="button" class="Button Button--plain">
                                                        举报
                                                    </button>
                                                </div>
                                                <!--评论回复框-->
                                                <div>
                                                    <div class="CommentItemV2-editor CommentEditorV2--normal" v-if="comment.editor.flag == 1">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" v-model="comment.editor.content"
                                                                   :placeholder="'回复' + comment.userName">
                                                            <span class="input-group-btn">
                                                                <button class="btn btn-default" @click="submitComment(comment)"
                                                                        type="button">回复</button>
                                                                <button class="btn btn-default" @click="openCommentEditor(comment)"
                                                                        type="button">收起</button>
                                                            </span>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <span ></span>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <!--评论的回复-->
                            <li class="NestComment--child" v-for="(reply, index_reply) in comment.replies" :key="reply.id">

                                <div class="CommentItemV2">
                                    <div>
                                        <div class="CommentItemV2-meta">
                                            <span class="UserLink CommentItemV2-avatar">
                                                <div class="Popover">
                                                    <div aria-haspopup="true" aria-expanded="false"
                                                         aria-owns="Popover333-content">
                                                        <a class="UserLink-link" target="_blank"
                                                           :href="'${base.contextPath}/users/' + reply.userId">
                                                            <img class="Avatar UserLink-avatar"
                                                                 :src="reply.headUrl"
                                                                 :alt="reply.userName" width="24" height="24"></a>
                                                    </div>
                                                </div>
                                            </span>
                                            <span class="UserLink">
                                                <a class="UserLink-link" target="_blank" href="${base.contextPath}/users">{{reply.userName}}</a>
                                            </span>
                                            <span class="CommentItemV2-reply">回复</span>
                                            <span class="UserLink">
                                                <a class="UserLink-link" target="_blank" href="${base.contextPath}/users">xxx</a>
                                            </span>
                                            <span class="CommentItemV2-time">{{reply.createdDate | time('YYYY-MM-DD')}}</span>
                                        </div>

                                        <div class="CommentItemV2-metaSibling">
                                            <div style="">
                                                <div class="CommentRichText CommentItemV2-content">
                                                    <div class="RichText ztext">{{reply.content}}</div>
                                                </div>

                                                <div class="CommentItemV2-footer">
                                                    <!--赞-->
                                                    <button type="button" class="Button Button--plain comment-active">
                                                    <span class="glyphicon glyphicon-thumbs-up"
                                                          aria-hidden="true"></span>
                                                        {{reply.likes}}
                                                    </button>
                                                    <!--回复-->
                                                    <button type="button" class="Button Button--plain" @click="reply.editor = 1"
                                                            v-if="reply.editor == 0">
                                                    <span style="display: inline-flex; align-items: center;">​
                                                    </span>回复
                                                    </button>
                                                    <button type="button" class="Button Button--plain" @click="reply.editor = 0"
                                                            v-if="reply.editor == 1">
                                                    <span style="display: inline-flex; align-items: center;">​
                                                    </span>取消回复
                                                    </button>
                                                    <button type="button" class="Button Button--plain">
                                                        踩
                                                    </button>
                                                    <button type="button" class="Button Button--plain">
                                                        举报
                                                    </button>
                                                </div>

                                                <!--回复框-->
                                                <div v-if="reply.editor == 1">
                                                    <div class="CommentItemV2-editor CommentEditorV2--normal">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control"
                                                                   :placeholder="'回复' + reply.userName">
                                                            <span class="input-group-btn">
                                                            <button class="btn btn-default" type="button">回复</button>
                                                        </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </li>
                            <!--查看更多回复-->
                            <li>
                                <div class="CommentMoreReplyButton">
                                    <button type="button" class="Button Button--plain" v-if="comment.page.total>=3">
                                        查看全部 {{comment.page.total}} 条回复</button>
                                </div>
                            </li>
                        </ul>

                    </div>

                    <!--分页条-->
                    <div class="offset">
                        <div>

                            <ul class="pagination">
                                <li><a href="#">1</a></li>
                                <li class="active"><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">...</a></li>
                                <li><a href="#">10</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">下一页</span>
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>

                    <!--评论输入框-->
                    <div class="comment-input">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="写下你的评论..." v-model="comment_content">
                            <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" @click="postComment(answer)">评论</button>
                        </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="next">
            <button type="button" class="btn btn-primary btn-sm btn-block" v-cloak
                    @click="getMoreAnswer" v-show="page_answer.next">查看更多回答
            </button>
        </div>
    </div>
</div>

#parse("footer.html")
<input type="hidden" id="questionId" value="$!{question.id}">
</body>

<script src="${base.contextPath}/scripts/js/question.js"></script>
<script src="https://cdn.bootcss.com/wangEditor/10.0.13/wangEditor.min.js"></script>
<script>

    //文本编辑器
    let E = window.wangEditor;
    let editor = new E('#editor');
    // 或者 var editor = new E( document.getElementById('editor') )
    //用户操作（鼠标点击、键盘打字等）导致的内容变化之后，会自动触发此函数并获取富文本中的所有内容
    editor.customConfig.onchange = (html) => {
        app.answers_content = html;
    };
    editor.customConfig.zIndex = 1;
    editor.create();
</script>
</html>