<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>注册-问答</title>
    <link rel="stylesheet" href="${base.contextPath}/styles/login.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        [v-cloak] {
            display: none;
        }

        /* 可以设置不同的进入和离开动画 */
        /* 设置持续时间和动画函数 */
        .slide-fade-enter-active {
            transition: all .3s ease;
        }

        .slide-fade-leave-active {
            transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
        }

        .slide-fade-enter, .slide-fade-leave-to
            /* .slide-fade-leave-active for below version 2.1.8 */
        {
            transform: translateX(10px);
            opacity: 0;
        }

    </style>
</head>
<body class="login-body">
<div id="app">
    <div class="container">
        <div class="form-signin" v-cloak>
            <h4 class="form-signin-heading">注册用户</h4>
            <div class="form-group has-feedback" :class="{'has-error':register.username_error != ''}">
                <input type="text" class="form-control" id="inputSuccess1" aria-describedby="helpBlock3"
                       title="" placeholder="用户名" v-model="register.username" @blur="checkName" maxlength="18">
                <transition name="slide-fade">
                    <span id="helpBlock2" class="help-block" v-if="register.username_error != ''">
                    {{register.username_error}}</span>
                </transition>
            </div>
            <div class="form-group" :class="{'has-error':register.email_error != ''}">
                <input type="email" class="form-control" id="inputSuccess4" aria-describedby="helpBlock4" maxlength="30"
                       title="" placeholder="邮箱" v-model="register.email">
                <transition name="slide-fade">
                <span id="helpBlock4" class="help-block" v-if="register.email_error != ''">
                    {{register.email_error}}</span>
                </transition>
            </div>

            <div class="form-group" :class="{'has-error':register.code_error != ''}">
                <div class="input-group">
                    <div class="input-group">
                        <input type="text" class="form-control" id="inputSuccess6" aria-describedby="helpBlock6"
                               maxlength="6" placeholder="验证码" v-model="register.code">
                        <div class="input-group-btn">
                            <button class="btn btn-default btn-lg code-btn" type="button" @click="getCode" v-if="show">
                                {{register.code_message}}</button>
                            <button class="btn btn-default btn-lg code-btn disabled" type="button" v-else>
                                已发送({{count}})s</button>
                        </div>
                    </div>
                    <transition name="slide-fade">
                    <span id="helpBlock6" class="help-block" v-if="register.code_error != ''">
                        {{register.code_error}}</span>
                    </transition>
                </div>

            </div>

            <div class="form-group" :class="{'has-error':register.password_error != ''}">
                <input type="password" class="form-control" id="inputSuccess3" aria-describedby="helpBlock3"
                       maxlength="18"
                       title="" placeholder="密码" v-model="register.password">
                <transition name="slide-fade">
                <span id="helpBlock3" class="help-block" v-if="register.password_error != ''">
                    {{register.password_error}}</span>
                </transition>
            </div>
            <div class="form-group" :class="{'has-error':register.repwd_error != ''}">
                <input type="password" class="form-control" id="inputSuccess5" aria-describedby="helpBlock5"
                       maxlength="18"
                       title="" placeholder="确认密码" v-model="register.repwd">
                <transition name="slide-fade">
                <span id="helpBlock5" class="help-block" v-if="register.repwd_error != ''">
                    {{register.repwd_error}}</span>
                </transition>
            </div>

            <div class="login-button">
                <button class="btn btn-default btn-block button" :class="{'disabled' : register.loading}"
                        type="button" @click="reg">
                    注册<span v-if="register.loading">中</span>
                </button>
            </div>
            <div class="register-button">
                <button class="btn btn-default btn-block button" type="button" @click="toLogin">已有帐户</button>
            </div>

        </div>

    </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/xss@1.0.6/dist/xss.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.19.0/dist/axios.min.js"></script>
<script src="${base.contextPath}/scripts/js/register.js"></script>
</body>
</html>