
.btn:hover,
.btn:focus {
    outline: none;
}
[v-cloak] {
    display: none;
}
.fade-enter-active, .fade-leave-active {
    transition: opacity .25s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}


.head {
    width: 25px;
    height: 25px;
    border-radius: 3px;
    background-color: #eee
}
.head38 {
    width: 38px;
    height: 38px;
    border-radius: 3px;
    background-color: #eee
}
/* Template-specific stuff
 *
 * Customizations just for the template; these are not necessary for anything
 * with disabling the responsiveness.
 */

/* Account for fixed navbar */
body {
    padding-top: 60px;
    padding-bottom: 30px;
    background: #f6f6f6;
    font-size: 15px;
}


/* Don't let the lead text change font-size. */
.lead {
    font-size: 16px;
}
.container {
    padding: 0 0;
}

@media (min-width: 1200px) {
    .container{
        max-width: 800px;
    }
}
@media (min-width: 970px) {
    .container{
        max-width: 800px;
    }
}
.main{
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
}

a {
    color: inherit;
}
a:link {
    text-decoration: none;
}

/*指正常的未被访问过的链接*/

a:visited {
    text-decoration: none;
}

/*指已经访问过的链接*/

a:hover {
    text-decoration: none;
}

/*指鼠标在链接*/

a:active {
    text-decoration: none;
}

/*指正在点的链接*/
.resultquestionlist {
    position: static;
    margin-top: -1px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: none;
    box-sizing: border-box;
    padding: 12px;
    padding-top: 10px;
}
.resultquestion {
    padding-top: 5px;
}

