
/* Finesse the page header spacing */
.page-header1 {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}
.page-header1 .lead {
    margin-bottom: 10px;
}

.question {
    margin-bottom: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #f0f2f7;
    padding: 20px;
}
.FeedSource-firstline {
    margin-bottom: 6px;
    color: #8590a6;
    height: 24px;
}
.FeedSource-byline {
    margin-bottom: 10px;
}
.AuthorInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.AuthorInfo-content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
    margin-left: 14px;
    overflow: hidden;
}
.AuthorInfo-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 15px;
    line-height: 1.1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.AuthorInfo-name {
    font-weight: 600;
    font-synthesis: style;
    color: #444;
}
.ContentItem-title {
    font-size: 18px;
    font-weight: 600;
    font-synthesis: style;
    line-height: 1.6;
    color: #1a1a1a;
}
.ContentItem-time {
    margin-top: 10px;
    font-size: 14px;
    color: #8590a6;
}

.question-title {
    font-size: 18px;
    font-weight: 600;
    font-synthesis: style;
    line-height: 1.6;
}
.close-content {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

}
.question-content {
    padding-top: 5px;
    padding-left: 0px;
}
.Button {
    display: inline-block;
    padding: 0 16px;
    font-size: 14px;
    line-height: 32px;
    color: #8590a6;
    text-align: center;
    cursor: pointer;
    background: none;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid;
    border-radius: 3px;
}

.Button--link, .Button--plain {
    height: auto;
    padding: 0;
    line-height: inherit;
    background-color: transparent;
    border: none;
    border-radius: 0;
    cursor: pointer;
}

.xiangqing {
    float: right;
    padding-right: 20px;
}
.question-count {
    padding-left: 15px;
}